@mixin address_text {
  @include r-s14-h20;

  font-family: "Arial", sans-serif;

  @include tablet {
    @include r-s16-h20;

    font-family: "Arial", sans-serif;
  }
}

.address {
  padding: 26px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title street"
    "title city";

  &--gray {
    background-color: $light-gray;
  }

  @include tablet {
    padding: 60px 70px 56px 70px;
  }

  @include desktop {
    width: 565px;
    background-color: #ffffff;
    position: absolute;
    bottom: 30%;
    left: 110px;
    transform: translateY(-50%);
  }
}

.address__title {
  @include r-s16-h20;
  @include clear-margin;

  grid-area: title;
  text-transform: uppercase;
  color: #111111;

  @include tablet {
    @include r-s20-h26;

    width: 172px;
  }
}

.address__street {
  @include address_text;

  grid-area: street;
  color: #444444;

  @include tablet {
    width: 160px;
    justify-self: right;
    align-self: baseline;
    text-align: right;
  }
}

.address__city {
  @include address_text;

  grid-area: city;
  color: #444444;

  @include tablet {
    width: 160px;
    justify-self: right;
    align-self: end;
    text-align: right;
  }
}
