.button {
  @include r-s14-h18;

  display: block;
  background-color: #68b738;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  @include mobile-only {
    padding: 14px 0;
  }

  @include tablet {
    @include r-s20-h20;

    padding: 17px 0;
  }
}
