.button {
  @include mr-s14-h18;

  display: block;
  background-color: $basic-green;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border: none;
  text-align: center;

  @include mobile-only {
    padding: 14px 0;
  }

  @include tablet {
    @include mr-s20-h20;

    padding: 17px 0;
  }
}
