.catalog-page {
  @include default-block;
}

.catalog-page__wrapper {
  border-top: 1px solid #d9d9d9;

  @include tablet {
    border-top: unset;
  }
}

.catalog-page__title {
  @include mr-s36-h36;
  @include clear-margin;

  margin-bottom: 41px;
  margin-left: 20px;
  margin-top: 27px;

  @include tablet {
    @include mr-s60-h60;

    margin-top: 77px;
    margin-bottom: 82px;
  }

  @include desktop {
    @include mr-s60-h60;

    margin-left: 110px;
    margin-top: 144px;
    margin-bottom: 118px;
  }
}
