.choose-control {
  @include r-s16-h18;

  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.choose-control__input {
  appearance: none;
  background-color: unset;
  margin: 0;

  &:checked::before,
  &:not(:checked)::before {
    content: "";
    display: inline-block;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
  }

  &--checkbox:checked::before,
  &--checkbox:not(:checked)::before {
    width: 40px;
    height: 40px;
    border-radius: 0;
  }

  &:checked:hover::before,
  &:not(:checked):hover::before {
    border: 1px solid #bababa;
  }

  &:disabled::before {
    border: 1px solid #bababa;
    opacity: 0.3;
  }

  &:checked::after,
  &:not(:checked)::after {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: $basic-green;
    border-radius: 100%;
    position: relative;
    top: -9px;
    left: -22px;
  }

  &--checkbox:checked::after,
  &--checkbox:not(:checked)::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 19px;
    background-color: $basic-green;
    mask-image: url("../img/icons/check.svg");
    mask-size: 24px 19px;
    position: relative;
    top: -11px;
    left: -32px;
  }

  &:not(:checked)::after {
    opacity: 0;
    transform: scale(0);
  }

  &:checked::after {
    opacity: 1;
    transform: scale(1);
  }

  &:checked:disabled::after {
    background-color: $basic-green;
    opacity: 0.3;
  }
}
