.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #444444;
  text-decoration: none;
}

.copyright__text {
  @include r-s16-h18;

  font-family: "Arial", sans-serif;
}
