.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $dark-gray;
  text-decoration: none;

  &:hover {
    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  @include sr-s16-h18;

  @include tablet {
    margin-right: 11px;
    margin-top: 12px;
  }
}
