.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #444444;
  text-decoration: none;
}

.copyright__text {
  @include sr-s16-h18;

  @include tablet {
    margin-right: 22px;
  }
}
