.example__wrapper {
  background-color: #eaeaea;
  padding: 25px 20px 40px 20px;

  @include tablet {
    background-color: #ffffff;
  }

  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title title"
      "description description"
      "info slider";
    justify-content: space-between;
  }
}

.example__title {
  @include clear-margin;
  @include r-s36-h40;

  @include mobile-only {
    background-color: #eaeaea;
  }

  @include tablet {
    background-color: #ffffff;
  }

  @include desktop {
    grid-area: title;
  }
}

.example__description {
  @include r-s14-h18;
  font-family: "Arial", sans-serif;

  margin-top: 40px;
  margin-bottom: 20px;

  @include desktop {
    grid-area: description;
  }
}

.example__info-wrapper {
  @include tablet {
    display: flex;
    justify-content: space-between;
  }

  @include desktop {
    grid-area: info;
    flex-direction: column;
    justify-content: unset;
  }
}

.example__info-list {
  @include clear-list-styles;
  display: flex;
}

.example__item {
  border: 2px solid #cdcdcd;
  border-radius: 6px;
  width: 124px;
  height: 56px;
  margin-right: 32px;

  &-value {
    @include r-s24-h24;

    padding: 0;
    text-align: center;
    margin: 14px 0 7px;
  }

  &-label {
    @include r-s12-h12;
    font-family: "Arial", sans-serif;

    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    top: 0;
    background-color: #ffffff;

    &--weight {
      width: 77px;
      left: 14px;
      margin-right: 6px;
      margin-left: 4px;
    }

    &--days {
      width: 59px;
      left: 24px;
    }

    @include mobile-only {
      background-color: #eaeaea;
    }
  }
}

.example-slider {
  @include desktop {
    grid-area: slider;
    position: relative;
    right: 0;
  }
}
