.features__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.features__list {
  @include clear-list-styles;

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @include desktop {
    display: flex;
  }
}

.features__item {
  position: relative;
  padding-bottom: 20px;
  padding-left: 80px;

  &::after {
    content: "";
    width: 60px;
    height: 60px;
    background-color: #68b738;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--leaf {
    &::after {
      background-image: url("../img/icons/leaf.svg");
    }
  }

  &--tub {
    &::after {
      background-image: url("../img/icons/tub.svg");
    }
  }

  &--eat {
    &::after {
      background-image: url("../img/icons/eat.svg");
    }
  }

  &--alarm {
    &::after {
      background-image: url("../img/icons/alarm.svg");
    }
  }
}
