.features {
  @include default-block;
}

.features__wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @include tablet {
    padding-right: 30px;
    padding-left: 30px;
  }

  @include desktop {
    padding-right: 110px;
    padding-left: 110px;
  }
}

.features__title {
  @include mr-s36-h40;
  @include clear-margin;

  margin-bottom: 40px;

  @include tablet {
    @include mr-s60-h60;

    margin-top: 15px;
    margin-bottom: 32px;
  }

  @include desktop {
    margin-top: 41px;
  }
}

.features__list {
  @include clear-list-styles;

  padding-bottom: 29px;
  counter-reset: feature-number;

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 37px;
    grid-column-gap: 20%;
    padding-bottom: 84px;
  }

  @include desktop {
    display: flex;
    column-gap: 94px;
    justify-content: space-between;
  }
}

.features__item {
  @include sr-s14-h18;

  position: relative;
  padding-bottom: 20px;
  padding-left: 80px;
  min-height: 60px;

  &::after {
    content: "";
    background-color: $basic-green;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;

    @include tablet {
      width: 80px;
      height: 80px;
      top: 30px;
    }
  }

  &--leaf {
    &::after {
      background-image: url("../img/icons/leaf.svg");
    }
  }

  &--tub {
    &::after {
      background-image: url("../img/icons/tub.svg");
    }
  }

  &--eat {
    &::after {
      background-image: url("../img/icons/eat.svg");
    }
  }

  &--alarm {
    &::after {
      background-image: url("../img/icons/alarm.svg");
    }
  }

  @include tablet {
    @include sr-s16-h24;

    width: 235px;
    padding-top: 151px;
    padding-left: 0;

    &::before {
      counter-increment: feature-number;
      content: counter(feature-number);
      font-size: 280px;
      line-height: 280px;
      color: $light-gray;
      position: absolute;
      top: 0;
      left: 118px;
      z-index: -10;
      font-family: $main-font-family;
    }
  }
}
