@mixin default-form-block($left: 20px, $right: 20px) {
  padding-left: $left;
  padding-right: $right;
  position: relative;
}

@mixin default-block-title($width: 100%) {
  @include r-s24-h26;
  @include clear-padding;

  width: $width;
  display: block;

  @include tablet {
    @include r-s36-h36;
  }
}

.form {
  border-top: 1px solid #d9d9d9;

  @include tablet {
    border-top: none;
  }
}

.form__header {
  padding: 27px 20px 39px;

  &-title {
    @include clear-margin;
    @include r-s36-h36;

    @include tablet {
      @include r-s60-h60;

      margin-left: 69px;
    }
  }

  &-description {
    @include r-s14-h18;
    @include clear-margin;

    margin-top: 37px;
    text-transform: uppercase;

    @include tablet {
      @include r-s20-h30;

      margin-left: 70px;
      margin-top: 54px;
    }
  }

  @include tablet {
    padding: 64px 0 66px;
  }
}

.form__block {
  @include clear-padding;
  @include clear-margin;

  border: none;
}

.form__info {
  @include default-form-block;

  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 24px;

  .text-control {
    margin-bottom: 14px;
  }

  @include tablet {
    @include default-form-block(71px, 67px);

    padding-bottom: 58px;
    border-bottom: none;
  }
}

.form__purpose {
  @include default-form-block;

  border-bottom: 1px solid #d9d9d9;
  padding-top: 22px;
  padding-bottom: 6px;

  .choose-control {
    margin-bottom: 13px;
  }

  @include tablet {
    @include default-form-block(71px, 69px);
    padding-top: 0;
    padding-bottom: 75px;
    border-bottom: none;

    .form__block-wrapper {
      padding: 25px 0 11px 28px;
      border: 1px solid #e7e7e7;
    }
  }
}

.form__contacts {
  @include default-form-block;

  padding-top: 26px;
  padding-bottom: 24px;

  .form__block-title {
    @include default-block-title(187px);

    margin-bottom: 35px;

    @include tablet {
      width: 515px;
      margin-right: 0;
      margin-bottom: 76px;
    }
  }

  .text-control {
    margin-bottom: 14px;
  }

  @include tablet {
    @include default-form-block(69px, 65px);

    padding-top: 0;
    padding-bottom: 51px;
  }
}

.form__comment {
  @include default-form-block;

  padding-bottom: 23px;

  .form__block-title {
    @include default-block-title(121px);

    margin-bottom: 38px;

    @include tablet {
      width: 185px;
      margin-bottom: 76px;
    }
  }

  @include tablet {
    @include default-form-block(69px, 65px);
  }
}

.form__more {
  @include default-form-block;

  padding-top: 23px;
  padding-bottom: 21px;

  .form__block-title {
    @include default-block-title(147px);

    margin-bottom: 33px;
  }

  &-list {
    @include clear-list-styles;

    @include tablet {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 19px;
    }
  }

  &-item {
    display: block;

    margin-bottom: 13px;
  }

  @include tablet {
    @include default-form-block(70px, 67px);

    padding-bottom: 41px;
  }
}

.form__submit-area {
  @include default-form-block;

  padding-bottom: 32px;
  text-align: center;

  @include tablet {
    @include default-form-block(71px, 71px);
    text-align: left;
  }
}

.form__submit-note {
  display: block;
  margin-top: 21px;

  @include tablet {
    display: inline-block;
    margin-left: 7.94%;
  }
}

.form__submit-button {
  width: 100%;

  @include tablet {
    display: inline-block;
    width: 36.71%;
  }
}
