@mixin default-form-block {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

@mixin default-block-title($width: 100%) {
  @include r-s24-h26;
  @include clear-padding;

  width: $width;
  display: block;
}

.form {
  border-top: 1px solid #d9d9d9;
}

.form__header {
  padding: 27px 20px 39px;

  &-title {
    @include clear-margin;
    @include r-s36-h36;
  }

  &-description {
    @include r-s14-h18;
    @include clear-margin;

    margin-top: 37px;
    text-transform: uppercase;
  }
}

.form__block {
  @include clear-padding;
  @include clear-margin;

  border: none;

  &--bordered {
    border-bottom: 1px solid #d9d9d9;
  }
}

.form__info {
  @include default-form-block;

  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 24px;

  .text-control {
    margin-bottom: 14px;
  }
}

.form__purpose {
  @include default-form-block;

  border-bottom: 1px solid #d9d9d9;
  padding-top: 22px;
  padding-bottom: 6px;

  .choose-control {
    margin-bottom: 13px;
  }
}

.form__contacts {
  @include default-form-block;

  padding-top: 26px;
  padding-bottom: 24px;

  .form__block-title {
    @include default-block-title(187px);

    margin-bottom: 35px;
  }

  .text-control {
    margin-bottom: 14px;
  }
}

.form__comment {
  @include default-form-block;

  padding-bottom: 23px;

  .form__block-title {
    @include default-block-title(121px);

    margin-bottom: 38px;
  }
}

.form__more {
  @include default-form-block;

  padding-top: 23px;
  padding-bottom: 21px;

  .form__block-title {
    @include default-block-title(147px);

    margin-bottom: 33px;
  }

  &-list {
    @include clear-list-styles;
  }

  &-item {
    display: block;

    margin-bottom: 13px;
  }
}

.form__submit-area {
  @include default-form-block;

  padding-bottom: 32px;
  text-align: center;
}

.form__submit-note {
  display: block;
  margin-top: 21px;
}

.form__submit-button {
  width: 100%;
}
