.intro__wrapper {
  min-width: 249px;
  text-align: center;
  padding: 27px 20px 0;

  @include mobile-only {
    background-image: url("../img/intro-bg-mobile.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 320px 302px;
  }
}

.intro__title {
  @include r-s36-h36;

  margin: 0;
  color: #ffffff;

  @include tablet {
    @include r-s60-h60;

    color: #000000;
  }
}

.intro__description {
  @include r-s14-h14;
  @include clear-margin;

  margin-top: 25px;
  margin-bottom: 29px;
  color: #ffffff;
  text-transform: uppercase;

  @include tablet {
    @include r-s20-h20;
    color: #000000;
  }
}

.intro__intro-image {
  @include tablet {
    width: 709px;
    height: 609px;
  }
}

.intro__selection-button {
  display: block;
  margin-top: 3px;
}
