.main-header__logo-image {
  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.main-header__logo-text {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
