@mixin logo-link-params {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header {
  height: 65px;

  @include default-block;
}

.main-header__wrapper {
  display: flex;
  padding: 10px 20px 0;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    padding: 24px 30px;
  }

  @include desktop {
    padding: 53px 110px 32px;
  }
}

.main-header__text-link {
  @include logo-link-params;

  display: block;
  align-self: center;

  @include tablet {
    display: none;
  }
}

.main-header__logo-link {
  @include logo-link-params;

  display: block;
}

.main-header__logo-image {
  display: block;

  @include tablet {
    width: 174px;
    height: 52px;
  }

  @include desktop {
    width: 202px;
    height: 59px;
  }
}
