.main-footer__map {
  width: 100%;
  height: 362px;
  border: 0;
  display: block;

  @include tablet {
    height: 400px;
  }
}

.main-footer__wrapper {
  position: relative;
}

.main-footer__bottom-container {
  padding: 39px 20px 22px;
  background-color: $light-gray;

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 58px 30px 55px;
  }

  @include desktop {
    padding: 57px 110px 58px;
  ;
  }
}

.main-footer__logo-link {
  display: block;
  padding-bottom: 32px;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;

  @include tablet {
    padding-bottom: unset;
    border-bottom: unset;
  }
}

.main-footer__social {
  padding-bottom: 21px;
  padding-top: 21px;
  border-bottom: 1px solid #d9d9d9;

  @include tablet {
    padding: 0;
    border-bottom: unset;
  }
}

.main-footer__copyright {
  padding-top: 22px;

  @include tablet {
    padding: 0;
    border-bottom: unset;
  }
}
