.main-footer__map {
  width: 100%;
  height: 362px;
  border: 0;
  display: block;

  @include tablet {
    height: 400px;
    position: absolute;
    top: 194px;
  }

  @include desktop {
    position: absolute;
    top: 0;
    z-index: 1;
  }

  &-sub {
    width: 320px;
    height: 364px;
    display: block;
    background-color: $light-gray;
    position: absolute;
    top: 92px;
    z-index: -1;
    margin: 0 auto;

    @include tablet {
      position: unset;
      transform: unset;
      margin: 0 auto;
      top: 194px;
      width: 768px;
      height: 400px;
      z-index: 1;
    }

    @include desktop {
      position: absolute;
      transform: translateX(-50%);
      top: 0;
      width: 1440px;
      height: 400px;
    }
  }
}

.main-footer__wrapper {
  position: relative;
}

.main-footer__bottom-container {
  @include desktop {
    background-color: #f2f2f2;
  }
}

.main-footer__bottom-wrapper {
  padding: 39px 20px 22px;
  background-color: $light-gray;

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 57px 30px 43px;
  }

  @include desktop {
    padding: 57px 110px 58px;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.main-footer__logo-link {
  display: block;
  padding-bottom: 27px;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;

  @include tablet {
    padding-bottom: unset;
    border-bottom: unset;
  }
}

.main-footer__social {
  padding-bottom: 14px;
  padding-top: 21px;
  border-bottom: 1px solid #d9d9d9;

  @include tablet {
    padding: 0;
    border-bottom: unset;
    margin-left: 27px;
  }
}

.main-footer__copyright {
  padding-top: 12px;

  @include tablet {
    padding: 0;
    border-bottom: unset;
  }
}
