.main-header__wrapper {
  // display: flex;
}

.main-header__logo-image {
  position: absolute;
  margin-top: 10px;
  margin-left: 20px;

  @include tablet {
    width: 174px;
    height: 52px;
  }

  @include desktop {
    width: 202px;
    height: 59px;
  }
}

.main-header__logo-text {
  @include tablet {
    display: none;
  }
}
