.more-goods__wrapper {
  padding: 25px 20px 0;

  @include tablet {
    padding: 68px 30px 0;
  }
}

.more-goods__title {
  @include r-s24-h24;

  margin: 0;

  @include tablet {
    @include r-s36-h36;

    margin-left: 36px;
  }
}

.more-goods__list {
  @include clear-list-styles;

  margin-top: 36px;
  border-top: 1px solid #cdcdcd;

  @include tablet {
    margin-top: 80px;
    border: 1px solid #cdcdcd;
  }
}

.more-goods__item {
  padding-top: 12px;
  padding-bottom: 19px;
  border-bottom: 1px solid #cdcdcd;

  @include tablet {
    padding: 26px 38px 28px;
  }
}
