.product-card {
  display: grid;
  padding-top: 11px;
  padding-bottom: 25px;
  grid-template-areas:
    "image title"
    "image features"
    "button button";

  &__image-link {
    grid-area: image;
    display: block;
    align-self: center;
    margin: 0 auto;
  }

  &__title-link {
    @include r-s16-h20;

    grid-area: title;
    width: 90px;
    text-transform: uppercase;
    text-decoration: none;
    color: #222222;
  }

  &__features {
    @include clear-list-styles;

    grid-area: features;
    margin-bottom: 22px;
  }

  &__order-button {
    grid-area: button;
  }
}

.product-card__item {
  @include r-s12-h16;

  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: space-between;
}

.product-card--show-more {
  display: block;
  text-align: center;
  padding-top: 25px;
}

.product-card__show-more-link {
  text-decoration: none;
  color: #444444;
}

.product-card__show-more-title {
  @include r-s16-h20;

  color: #111111;
  margin-top: 23px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.product-card__show-more-description {
  margin-bottom: 21px;
}

.product-card__show-more-button {
  background-color: #f2f2f2;
  color: #444444;
}
