.programs__wrapper {
  padding: 20px 20px 0;
}

.programs__list {
  @include clear-list-styles;

  @include desktop {
    display: flex;
    justify-content: space-between;
  }
}

.programs__item {
  background-color: #d9d9d9;
  padding-top: 30px;
  margin-bottom: 20px;

  &::before {
    content: "";
    display: block;
    float: left;
    position: relative;
    left: 20px;
    top: -12px;
  }

  &--slim::before {
    width: 50px;
    height: 53px;
    background: url("../img/icons/slim-catalog.svg") center no-repeat;
  }

  &--pro::before {
    width: 67px;
    height: 50px;
    background: url("../img/icons/pro-catalog.svg") center no-repeat;
  }
}

.programs__title {
  margin: 0 0 0 91px;
}

.programs__description {
  margin-top: 39px;
}

.programs__button {
  &::after {
    content: "";
    background: url("../img/icons/services-button.svg") center no-repeat;
    width: 40px;
    height: 15px;
    display: inline-block;
  }
}
