.promo__container {
  width: 280px;
  height: 290px;
  background: url("../img/promo-bg-mobile.png") no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background: url("../img/promo-bg-mobile@2x.png") no-repeat;
  }

  &::before {
    content: "";
    position: absolute;
    width: 78px;
    height: 80px;
    background: url("../img/promo-icon.svg") no-repeat;
  }
}
