.range-control[type="range"] {
  height: 11px;
  appearance: none;
  width: 100%;
  background-color: transparent;

  @include tablet {
    height: 41px;
  }
}

.range-control[type="range"]:focus {
  outline: none;
}

.range-control[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid #cdcdcd;

  @include tablet {
    height: 6px;
    background: #dcdcdc;
    border-radius: 6px;
    border: unset;
  }
}

.range-control[type="range"]::-webkit-slider-thumb {
  border: 0 solid #2497e3;
  height: 6px;
  width: 36px;
  border-radius: 6px;
  background: #68b738;
  cursor: pointer;
  appearance: none;
  margin-top: 3.5px;

  @include tablet {
    box-shadow: 0 0 0 1px #cdcdcd;
    border: 13px solid #ffffff;
    height: 34px;
    width: 34px;
    border-radius: 100%;
    margin-top: -14px;
  }
}

.range-control[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ffffff;

  @include tablet {
    background-color: #dcdcdc;
  }
}

.range-control[type="range"]::-moz-range-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid #cdcdcd;

  @include tablet {
    height: 6px;
    cursor: pointer;
    background: #dcdcdc;
    border-radius: 6px;
    border: 0 solid #cdcdcd;
  }
}

.range-control[type="range"]::-moz-range-thumb {
  box-shadow: 0 0 0 #cdcdcd;
  border: 0 solid #2497e3;
  height: 6px;
  width: 36px;
  border-radius: 6px;
  background: #68b738;
  cursor: pointer;

  @include tablet {
    box-shadow: 1px 1px 0 #cdcdcd;
    border: 10px solid #ffffff;
    height: 34px;
    width: 34px;
    border-radius: 100%;
    background: #68b738;
  }
}

