.social__list {
  @include clear-list-styles;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
}

.social__item-link {
  &:hover {
    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}
