.text-control {
  display: flex;
  align-items: center;
  padding-bottom: 14px;

  &__label {
    @include r-s16-h18;

    text-transform: uppercase;
    margin-right: 13px;
    min-width: fit-content;
  }

  &__input {
    @include r-s16-h18;

    width: 100%;
    border: 1px solid #e7e7e7;
    color: #444444;
    padding: 0 14px;
    height: 45px;
    text-transform: uppercase;
  }
}
