$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-max-width: $tablet-width - 1;

@mixin mobile-only {
  @media /*(min-width: $mobile-width) and*/ (max-width: $mobile-max-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}
